{% extends '__base__.html' %}
{% load myfilter %}
{% block title %}博客{% endblock %}

{% block beforehead %}

<script>

$(function (){
     var blog_id = '{{ blog.id }}';
     $.get('/blog/comment',{
         blog_id:blog_id
     }).done(function (data) {
          var obj = JSON.parse(data);
          var comments_array = obj.comments;
          show_comments(comments_array);
     });
     $('#form-comment').submit(function () {
           var blog_id = $('#yj-c-blogid').val();
           var comment_id = $('#yj-c-commentid').val();
           var user_name = $('#yj-c-username').val();
           var user_image = $('#yj-c-userimage').val();
           var content = $('#yj-c-content').val();
           if (!content.trim()){
               $('#comment-msg').html('内容不能为空');
               return;
           }
           $.post('{% url 'blog:comment' %}',{
                  blog_id:blog_id,
                  comment_id:comment_id,
                  user_name:user_name,
                  user_image:user_image,
                  content:content
           }).done(function (data) {
                var obj = JSON.parse(data);
                var html = obj2html(obj.comments.pop());
                $('#yj-comment-list').prepend(html);
                $('#yj-c-content-div').empty();
                $('#yj-c-content-div').append('<textarea id="yj-c-content" name="content" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>')
                $('#comment-msg').html('');
          });
     });
});

function show_comments(comments_array) {

    $('#yj-comment-list').html('');
    if (comments_array.length > 0 ){
          for(i=comments_array.length-1;i>=0;i--){
              var obj = comments_array[i];
              var html = obj2html(obj);
              $('#yj-comment-list').append(html);
          }
    }else{
        $('#yj-comment-list').html('<p>还没有人评论...</p>');
    }
}

function obj2html(obj) {
      var username = obj.username;
      if (username == "cabbageGG"){
          username = username+"(作者)";
      }
      var userimage = "/media/img/default.jpg";
      if (obj.userimage) {
          userimage = "/media/"+obj.userimage;
      }
      var create_time = obj.create_time;
      var content = obj.content;
      var html_str = '<li>'+
                       '<article class="uk-comment">'+
                            '<div class="uk-comment-header">'+
                                '<div class="uk-comment-head">'+
                                    '<img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="'+userimage+'">'+
                                    '<h4 class="uk-comment-title">'+username+'</h4>'+
                                    '<p class="uk-comment-meta">'+create_time+'</p>'+
                                '</div>'+
                                '<br>'+
                                '<div class="uk-comment-body">'+
                                    '<p>'+content+'</p>'+
                                '</div>'+
                            '</div>'+
                        '</article>'+
                    '</li>';
      return html_str;
}

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2>{{ blog.title }}</h2>
            <p class="uk-article-meta">last modify: {{ blog.create_time }}</p>
            <p>{% autoescape off %}{{ blog.content | replaceTags }}{% endautoescape %}</p>
        </article>

        <hr class="uk-article-divider">

    {% if userinfo %}
        <h3>发表评论</h3>

        <article class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{% if userinfo.image %}{{ userinfo.image.url }} {% else %} /media/img/default.jpg {% endif %}">
                <h4 class="uk-comment-title">{{ userinfo.name | default:'游客' }}</h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form" action="javascript:void(0)" method="post">
                    {% csrf_token %}
                    <input id="yj-c-blogid" type="hidden" name="blog_id" value="{{ blog.id }}">
                    <input id="yj-c-commentid" type="hidden" name="comment_id" value="{{ comment.id | default:'0' }}">
                    <input id="yj-c-username" type="hidden" name="user_name" value="{{ userinfo.name | default:'游客' }}">
                    <input id="yj-c-userimage" type="hidden" name="user_img" value="{{ userinfo.image | default:"img/default.jpg" }}">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div id="yj-c-content-div" class="uk-form-row">
                        <textarea id="yj-c-content" name="content" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <input type="submit" class="uk-button uk-button-primary" value="发表评论">
                    </div>
                    <p id="comment-msg">
                    </p>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">
    {% else %}
        <h3><a href="{% url 'blog:signin' %}">登录</a>后发表评论</h3>
    {% endif %}

        <h3>最新评论</h3>
        <ul id="yj-comment-list" class="uk-comment-list">
{#            {% if comments %}#}
{#            {% for comment in comments %}#}
{#            <li>#}
{#                <article class="uk-comment">#}
{#                    <div class="uk-comment-header">#}
{#                        <div class="uk-comment-head">#}
{#                            <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{% if comment.userimage %}{{ comment.userimage.url }} {% else %} /media/img/default.jpg {% endif %}">#}
{#                            <h4 class="uk-comment-title">{{ comment.username }} {% if comment.username == "cabbageGG" %}(作者){% endif %}</h4>#}
{#                            <p class="uk-comment-meta">{{ comment.create_time }}</p>#}
{#                        </div>#}
{#                        <br>#}
{#                        <div class="uk-comment-body">#}
{#                             需要解决空格问题！！！自定义一个函数处理#}
{#                            <p>{{ comment.content | linebreaksbr }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </article>#}
{#            </li>#}
{#            {% endfor %}#}
{#            {% else %}#}
{#            <p>还没有人评论...</p>#}
{#            {% endif %}#}
        </ul>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{% if userinfo.image %}{{ userinfo.image.url }} {% else %} /media/img/default.jpg {% endif %}">
            </div>
        </form>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a href="https://github.com/cabbageGG">编程</a></li>
                <li><i class="uk-icon-link"></i> <a href="https://github.com/cabbageGG">思考</a></li>
                <li><i class="uk-icon-link"></i> <a href="http://blog.jobbole.com/all-posts/">读书</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
