{% extends '__base__.html' %}

{% block title %}博客{% endblock %}

{% block beforehead %}

<script>

{#var comment_url = '/api/blogs/{{ blog.id }}/comments';#}
{##}
{#$(function () {#}
{#    $('#form-comment').submit(function (e) {#}
{#        e.preventDefault();#}
{#        showError();#}
{#        var content = $('#form-comment textarea').val().trim();#}
{#        if (content==='') {#}
{#            return showError('请输入评论内容！');#}
{#        }#}
{#        startLoading();#}
{#        postApi(comment_url, {content: content}, function (err, result) {#}
{#            if (err) {#}
{#                showError(err);#}
{#                stopLoading();#}
{#                return;#}
{#            }#}
{#            location.reload();#}
{#        });#}
{#    });#}
{#{);#}

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2>{{ blog.title }}</h2>
            <p class="uk-article-meta">last modify: {{ blog.create_time }}</p>
            <p>{{ blog.content | linebreaksbr }}</p>
{#            <a href="{% url 'blog:edit_blog' blog.id %}">修改博客</a>#}
{#            <a href="{% url 'blog:delete_blog' blog.id %}">删除博客</a>#}
        </article>

        <hr class="uk-article-divider">

    {% if user %}
        <h3>发表评论</h3>

        <article class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ user.image }}">
                <h4 class="uk-comment-title">{{ user.name | default:'游客' }}</h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form" action="{% url 'blog:comment' blog.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="blog_id" value="{{ blog.id }}">
                    <input type="hidden" name="comment_id" value="{{ comment.id | default:'0' }}">
                    <input type="hidden" name="user_name" value="{{ user.name | default:'游客' }}">
{#                    <input type="hidden" name="user_img" value="{{ user.image | default:'0' }}">#}
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea name="content" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <input type="submit" class="uk-button uk-button-primary" value="发表评论">
                    </div>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">
    {% else %}
        <h3><a href="{% url 'blog:signin' %}">登录</a>后发表评论</h3>
    {% endif %}

        <h3>最新评论</h3>

        <ul class="uk-comment-list">
            {% if comments %}
            {% for comment in comments %}
            <li>
                <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ comment.userimg }}">
                        <h4 class="uk-comment-title">{{ comment.username }} {% if comment.username == "cabbageGG" %}(作者){% endif %}</h4>
                        <p class="uk-comment-meta">{{ comment.create_time }}</p>
                    </header>
                    <div class="uk-comment-body">
                        <p>{{ comment.content | linebreaksbr }}</p>
                    </div>
                </article>
            </li>
            {% endfor %}
            {% else %}
            <p>还没有人评论...</p>
            {% endif %}
        </ul>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ blog.user_image }}">
                <h3>yangjin</h3>
            </div>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a href="https://github.com/cabbageGG">编程</a></li>
                <li><i class="uk-icon-link"></i> <a href="https://github.com/cabbageGG">思考</a></li>
                <li><i class="uk-icon-link"></i> <a href="http://blog.jobbole.com/all-posts/">读书</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
